.main-button-group button {
  font-size: 1rem;
  padding: 2px 5px;
  background-color: rgb(37, 9, 37);
  color: white;
}

.input-text-editor {
  resize: none;
  outline: none;
}

.right-panel-main {
  // height: 80vh;
}

.prompt {
  resize: none;
}

.prompt-send-icon-wrapper {
  cursor: pointer;
}
