:root {
  --color-default: rgb(37, 9, 37);
  --color-white: #fff;
}

.sidebar {
  min-height: 100%;
  width: 400px;
  transition: all 0.5s ease;
}

.logo_image {
  height: 50px;
}

.search_input {
  width: 100%;
  outline: none;
  padding-left: 30px;
}

.search_icon {
  color: gray;
  position: absolute;
  left: 5px;
  top: 3px;
}

.history_list_item {
  cursor: pointer;
}

.history_list_item:hover {
  background-color: white;
  color: black;
}

.clear_button {
  cursor: pointer;
}

.clear_button:hover {
  background-color: white;
  color: black;
}

.spinner-container {
  min-height: 300px;
}
